{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span class="text-xxxl text-light">{{ status_code }}<i class="fa fa-exclamation-circle text-danger"></i></span></h1>
            <h2 class="text-light">{{ 'error_page.error_message'|trans({'%status_code%': status_code, '%status_text%': status_text}, 'StrokitCoreBundle') }}</h2>
        </div><!--end .col -->
    </div>


    {{ error_search_form() }}
{% endblock %}