{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} : {{ title }}{% endblock %}
{% block body %}

    <div class="categories">
        <div class="titleHeader clearfix">
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            {% if pagination.getTotalItemCount > 0 %}
                <div class="row">
                    {% for company in pagination %}
                        <div class="col-md-4">
                            {% include "InfoComplaintBundle:Company:_companyItem.html.twig" with {'company':company} %}
                        </div>
                        {% if loop.index % 3 == 0 %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!--end row-->
                <div class="pagination pagination-right">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% else %}
                <h2>
                    В этой категории компаний пока нет
                </h2>
            {% endif %}
        </div>
    </div>

{% endblock %}