<div class="col-md-6">
        <h2> Последние добавленные компании</h2>
    {% for company in companies %}
        <div class="row">
            {% include "InfoComplaintBundle:Company:_companyItem.html.twig" with {'company':company} %}
        </div>
    {% endfor %}
</div>