<div id="menubar" class="menubar-inverse">
    <div class="menubar-fixed-panel">
        <div class="menubar-button">
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="{{ path('info_complaint_homepage') }}">
                <span class="text-lg text-bold text-primary line-height1">Книга отзывов и предложений</span>
            </a>
        </div>
    </div>
    <div class="nano has-scrollbar" style="height: 143px;"><div class="nano-content" tabindex="0" style="right: -15px;"><div class="menubar-scroll-panel" style="padding-bottom: 55px;">

                <!-- BEGIN MAIN MENU -->
                {{ knp_menu_render('main', {'currentClass': 'active','ancestorClass': 'active expanded','template':'main_menu.html.twig'}) }}

                {{ knp_menu_render('bottom', {'currentClass': 'active','ancestorClass': 'active expanded','template':'main_menu.html.twig'}) }}
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright © {% if "now"|date("Y") != 2015 %} 2015 - {% endif %}{{ "now"|date("Y") }}</span> <strong>Strokit Developers</strong>
                    </small>
                </div>
            </div></div><div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 36px; transform: translate(0px, 0px);"></div></div></div><!--end .menubar-scroll-panel-->
</div>