{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '::base.html.twig' %}

{#{% block sonata_page_breadcrumb %}#}
    {#{% if breadcrumb_context is not defined %}#}
        {#{% set breadcrumb_context = 'user_index' %}#}
    {#{% endif %}#}
        {#{{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}#}
{#{% endblock %}#}

{% block body %}

<h2>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h2>

<div class="sonata-user-show row row-fluid">

        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

        {% block sonata_profile_content '' %}

</div>

{% endblock %}