.main-actions {
    margin-bottom: 30px;
}

.categories {
    margin-bottom: 30px;
}

div.vote-stars{
    position: static !important;
    height: 32px;
    width: 32px;
    background: url(http://localhost/hackaton/web/public/images/stars.png) 0% 0%;
    float: left;
}

div.vote-active{
    position: static !important;
    height: 32px;
    width: 32px;
    background: url(http://localhost/hackaton/web/public/images/stars.png) 0% 50%;
    float: left;
}

.clear{
    clear: both !important;
}

.ui-autocomplete-loading {
    background: white url('image.gif') right center no-repeat;
}