.main-actions{
    margin-bottom: 30px;
}
.categories{
    margin-bottom: 30px;
}

.panel-reg{
    height: 290px!important;
    padding-right: 10px;
}
.panel-reg input[type="text"], .panel-reg input[type="email"], .panel-reg input[type="password"]{
    width: 350px;
}