.main-actions {
    margin-bottom: 30px;
}

div.vote-stars{
    position: static !important;
    height: 32px;
    width: 32px;
    background: url(http://localhost/hackaton/web/public/images/stars.png) 0% 0%;
    float: left;
}

/*div.vote-active{*/
    /*position: static !important;*/
    /*height: 32px;*/
    /*width: 32px;*/
    /*background: url(http://localhost/hackaton/web/public/images/stars.png) 0% 50%;*/
    /*float: left;*/
/*}*/

.clear{
    clear: both !important;
}

.ui-autocomplete-loading {
    background: white url('image.gif') right center no-repeat;
}

.padding-top15 {
    padding-top: 15px;
}

.margin-top20 {
    margin-top: 20px;
}

.red{
    color:#CC0000;
    font-size: 0.6em;
    }
.green{
    color:#009933;
    font-size: 0.6em;
}
@media (min-width: 1200px ) {

.panel-reg{
    height: 290px!important;
    /*padding-right: 10px;*/
}
}
@media (min-width: 992px ) {

.panel-reg{
    height: 318px!important;
    /*padding-right: 10px;*/
}
}
/*.panel-reg input[type="text"], .panel-reg input[type="email"], .panel-reg input[type="password"]{*/
    /*width: 350px;*/
/*}*/

.w260{
    width: 260px;
}
.mb-10{ margin-bottom: 10px; }

.btm-hr{ border-bottom: 1px solid #eeeeee }

.comment-voting-block
{
    float:right;
    margin-right: 10px;
}
.complaint-voting-block
{
    position: relative;
}
.make-complaint{
    
    float: right;
    position: relative;
    top: 10px;
    margin-right: 10px;
    text-decoration: none;
}
a.make-complaint:hover{
    color: red;
    text-decoration: none;
}

.make-complaint-comment{
    float: right;
    margin-right: 10px;
}
a.make-complaint-comment:hover{
    float: right;
    margin-right: 10px;
    text-decoration: none;
    color: red;
}

.modal-body >textarea{
    width:100%;
    height: 60px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin-top: 20px;
}
#cssmenu > ul > li > a {
    padding: 15px 20px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #777777;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);*/
    background: #004498;
    background: -webkit-linear-gradient(#ffffff, #eeeeee);
    background: -moz-linear-gradient(#ffffff, #eeeeee);
    background: -o-linear-gradient(#ffffff, #eeeeee);
    background: -ms-linear-gradient(#ffffff, #eeeeee);
    background: linear-gradient(#ffffff, #eeeeee);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#cssmenu > ul > li > ul > li.active{
    background: #44ADE9;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
    color: #006698;
    background: #00397f;
    background: -webkit-linear-gradient(#ffffff, #dddddd);
    background: -moz-linear-gradient(#ffffff, #dddddd);
    background: -o-linear-gradient(#ffffff, #dddddd);
    background: -ms-linear-gradient(#ffffff, #dddddd);
    background: linear-gradient(#ffffff, #dddddd);
}
#cssmenu ul ul li a {
    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 10px 20px;
    z-index: 1;
    text-decoration: none;
    font-size: 13px;
    color: #004498;
    /*background: #f5f5f5;*/
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#Complaint_text {
    /*width: 100%;*/
}

.line-height1 {
    line-height: normal;
}
.line-height-body {
    line-height: 1.846153846;
}
.menubar-fixed-panel > div.menubar-button {
    width: 26px;
    max-width: none;
}

.margin-right10 {
    margin-right: 10px;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.list-comments .small-padding-comment {
    margin-left: 12px;
}

.popover-content .yashare-div {
    margin-top: -11px;
}

.form-errors ul {
    background-color: #fad7d4;
    color: #a94442;
    padding: 15px 15px 15px 30px;
    margin-bottom: 24px;
    border: 1px solid #f7bec3;
    border-radius: 2px;
}

.word-break {
    word-break: break-all;
}