{% extends "::base.html.twig" %}


{% block body %}
    <div class="panel panel-default">
        {% for complaint in complaintlist %}
           {{   include ('InfoComplaintBundle:Complaint:_blocComplaint.html.twig',{'complaint':complaint}) }}
        {% endfor %}
    </div>
{% endblock %}