{% extends 'InfoComplaintBundle:Complaint:complaints_list.html.twig' %}
{% block header %}
<h2> Последние добавленные отзывы</h2>
{% endblock %}

{% block noelement %}
<h3>Пока отзывов не было оставлено</h3>
{% endblock %}