<h2> Последние добавленные отзывы</h2>
{% if complaints %}
<ul class="timeline collapse-lg timeline-hairline">
{% for complaint in complaints %}
    {% include "@InfoComplaint/Complaint/_blockComplaint/_complaintItemInComplaintsList.html.twig" with {'complaint':complaint} %}
{% endfor %}
</ul>
{% else %}
<h3>Пока отзывов не было оставлено</h3>
{% endif %}