{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="well well-lg">
                    <ul class="nav nav-list">
                        <li><label class="tree-toggler nav-header">Header 1</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header">Header 1.1</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                        <li><label class="tree-toggler nav-header">Header 1.1.1</label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#">Link</a></li>
                                                <li><a href="#">Link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-divider"></li>
                        <li><label class="tree-toggler nav-header">Header 2</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header">Header 2.1</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                        <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#">Link</a></li>
                                                <li><a href="#">Link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><label class="tree-toggler nav-header">Header 2.2</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                        <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                            <ul class="nav nav-list tree">
                                                <li><a href="#">Link</a></li>
                                                <li><a href="#">Link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                {% for category in subcategory %}
                    <a href="{{ path('info_complaint_company_list',{'id':category.id}) }}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}