{% extends '::base.html.twig' %}
{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    Добро пожаловать!
                </h1>

                <p>
                    На нашем сайте Вы можете оставить отзыв на любую понравившуюся или наоборот непонравившуюся компанию.
                    Также Вы сможете получить ответ от компании на свой отзыв.
                </p>

                <p>
                    Компании же могут через наш сайт наладить линию обратной связи с клиентами.
                </p>

                <p>
                    <a class="btn btn-primary btn-large" href="{{ path('info_complaint_create') }}">Оставить отзыв</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
    {% render controller('InfoComplaintBundle:Company:lastAddedCompanies')%}
    {% render controller('InfoComplaintBundle:Complaint:lastAddedComplaints')%}
    </div>
{% endblock %}