{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% render controller('InfoComplaintBundle:Complaint:lastAddedComplaints') %}
        </div>
    </div>
{% endblock %}