{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="content">
        <a href="{{ path('SearchEngineBundle_search') }}" class="btn">Return</a>
        <hr />
        <ul>
            {% for company in companies %}
                <li>
                    {{ company }}<br />
                </li>
            {% else %}
                <div class="alert">Sorry ^^'</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}