{% macro show(link, forLoggedUser) %}
    <div class="fixed-action-btn">
        <a href="{{ link }}" class="btn ink-reaction btn-lg btn-floating-action btn-primary {% if forLoggedUser %}logged-user{% endif %}">
            <i class="fa fa-plus"></i>
        </a>
    </div>
{% endmacro %}