<div class="yashare-div yashare-auto-init"
     data-yashareL10n="ru"
     data-yashareType="none"
     data-yashareQuickServices="facebook,twitter,vkontakte,gplus,odnoklassniki"
     data-yashareLink="{{ url }}"
     data-yashareTitle="{{ title }}"
     data-yashareDescription="{{ description }}"
        ></div>