{% extends '@InfoComplaint/Complaint/_blockComplaint/_complaintItem.html.twig' %}

{% block social_block %}
    {% include '@InfoComplaint/Default/social.html.twig' with {'url': url ('info_complaint_complaint',{'id':complaint.id}), 'title':("Отзыв о компании "~complaint.company.name), 'description':complaint.text } %}
{% endblock %}

{% block comment_block %}
    <span class="btn ink-reaction pull-left">Комментариев: {{ complaint|comment_count }}</span>
{% endblock %}
{% block text_block %}
    {{ complaint.text|raw }}
{% endblock %}
