<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
    <i class="fa{% if count == 0 %} fa-bell-o {% else %} fa-bell {% endif %}"></i>
    <sup class="badge style-danger" id="notification-count"{% if count == 0 %} style="display: none" {% endif %}>
        {{ count }}
    </sup>
</a>
<ul class="dropdown-menu animation-expand">
    <li id="notification-header" class="dropdown-header">Уведомления</li>
    {% for notification in notifications %}
    <li>
        {% include 'InfoNotificationBundle:Message:index.html.twig' with {'notification':notification} %}
    </li>
    {% else %}
        <li>
            <a href="javascript:void(0);">
                <small>Уведомлений пока нет</small>
            </a>
        </li>
    {% endfor %}
    <li class="dropdown-header">Options</li>
    <li><a href="{{ path('info_notification_see_all') }}">Посмотреть всё <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
    <li><a href="{{ path('info_notification_mark_as_read') }}" id="notification-mark-as-read">Отметить как прочитанное <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
    <li><a href="{{ path('info_user_notification_edit') }}">Настройки уведомлений<span class="pull-right"><i class="md md-settings"></i></span></a></li>
</ul><!--end .dropdown-menu -->